.txt_center { text-align: center;}
.txt_left { text-align: left;}


.mw_600     { max-width: 600px; margin: 0 auto;}

.pb_120     { padding-bottom: 120px;}

@media screen and (max-width: 992px) {
 .pb_120    { padding-bottom: 80px;}
}

@media screen and (max-width: 768px) {
.pb_120    { padding-bottom: 40px;}
}
