* { box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    color: $grey;
    font-family: "Roboto", sans-serif;
}


header{
    min-height: 80vh;
}

.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.09);
}

nav {
    padding: 10px 30px;

    .nav_logo { 
        width: 100%; 
        max-width: 160px;
    }

    .nav_li {
        list-style: none;
        display: inline-block;
        margin: 0 15px;
    }

    .nav_link{
        color: $grey;
        font-weight: 700;
        font-size: 15px;
    }
}

.hamburger {display: none;}

.header_content{
    padding: 50px 30px;
    padding-top: 100px;

    p{
        font-size: 21px;
    }
}

.header_img{
    width: 80%;
    max-width: 550px;
}
    
.video_container{
    position: relative;
    padding-bottom: 56.25%;

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.video_description{
    display: grid;
}
    
.video_length {
    align-self: flex-end;
    color: $light-grey;
    font-weight: 900;
    font-size: 16px;

    svg{
        font-size: 14px;
        margin-right: 5px;
    }
    }


#contact {
    background: url("../img/contact-bg.jpg") center center/cover no-repeat;
}

form{
    width: 100%;
    max-width: 450px;
    margin: 40px auto;

    label{
        font-size: 16px;
        font-weight: 700;
    }

    input[type=text],
    input[type=email],
    input[type=number] {
        display: block;
        padding: 13px 15px;
        margin: 8px 0 15px 0;
        border: none;
        border-radius: 5px;
        width: 100%;

        &::placeholder{
            font-size: 14px;
            color: $light-grey;
        }
    }
}

.form_agree{
    margin: 15px 0 30px 0;

    label{
        font-size: 13px;
    }
}

.owl-carousel {
    .owl-stage{
        padding: 20px 0;
    }

    .owl-nav{
        text-align: center;

        button.owl-next,
        button.owl-prev{
            background-color: #fff;
            padding: 15px 25px !important;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

            &:active{
                background-color: darken(#fff, 5%);
            }
        }
    }
}
.slide{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}

.slide_card {
    border-radius: 7px;
    padding: 20px 40px;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.09);
}

.slide_info{
    padding-top: 20px;

    p{
        margin: 10px 0;
    }
    img{
        max-width: 160px;
    }
    }


footer{
    background-color: $dark_grey;
}

.footer_content{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 20px;

    p{
        font-size: 14px;
        color: #fff;
    }
}
.footer_logo{
    max-width: 200px;
}

.footer_links{
    background-color: $grey;
    width: 100%;
    padding: 10px 20px;

    a{
        svg{
            color: #fff;
            margin: 5px 8px;
            font-size: 20px;
        }
    }
}

.back-to-top {
    background: none;
    display: none;
    margin: 0;
    position: fixed;
    bottom: 250px;
    right: 23px;
    width: 35px;
    height: 35px;
    z-index: 100;
    color: #fff;
    opacity: .5;
    background-color: $green;
    border-radius: 5px;
    transition: all .3s ease-out;
    
      svg{
        font-size: 24px;  
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    
      &:hover{
        opacity: 1;
      }
}

    


@media screen and (max-width: 992px){
    .header_content{
        flex-direction: column;
        max-width: 600px;
        text-align: center;
    }

    .video_wrap{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px){
    
}