* { box-sizing: border-box;}

html { scroll-behavior: smooth;}

body{
    margin: 0;
    padding: 0;
    // padding-top: 70px;
    color: $grey;
    font-family: "Roboto", sans-serif;
}


header{
    min-height: 80vh;
}

.navbar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.09);
}

nav {
    padding: 10px 30px;
    position: relative;
    z-index: 3;

    .nav_logo { 
        width: 100%; 
        max-width: 160px;
    }

    .nav_li {
        list-style: none;
        display: inline-block;
        margin: 0 15px;
        transition: all .3s ease-out;
    }

    .nav_link{
        color: $grey;
        font-weight: 700;
        font-size: 15px;
    }
}

.header_content{
    padding: 50px 30px;
    padding-top: 100px;

    p{
        font-size: 21px;
    }
}

.header_img{
    width: 80%;
    max-width: 550px;
}

#about { background-color: #f1f1f1;}
    
.video_container{
    position: relative;
    padding-bottom: 56.25%;

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.video_description{
    display: grid;
}
    
.video_length {
    align-self: flex-end;
    color: $light-grey;
    font-weight: 900;
    font-size: 16px;

    svg{
        font-size: 14px;
        margin-right: 5px;
    }
    }

    #testimonials{
        background: url("../img/testimonials-bg.png") center center/cover no-repeat;
    }


#contact {
    background: url("../img/contact-bg.jpg") center center/cover no-repeat;
}

form{
    width: 100%;
    max-width: 450px;
    margin: 40px auto;

    label{
        font-size: 16px;
        font-weight: 700;
    }

    input[type=text],
    input[type=email],
    input[type=number] {
        display: block;
        padding: 15px 15px;
        margin: 8px 0 15px 0;
        border: none;
        border-radius: 5px;
        width: 100%;
        font-size: 16px;
        border: 1px solid transparent;
        

        &:focus{
            border: 1px solid $green;
            outline: none;
        }

        &::placeholder{
            font-size: 14px;
            color: $light-grey;
        }
    }
}

.form_agree{
    margin: 15px 0 30px 0;

    label{
        font-size: 13px;
    }
}

.owl-carousel {
    .owl-stage{
        padding: 20px 0;
    }

    .owl-nav{
        text-align: center;

        button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.owl-next { right: 0;}
            &.owl-prev { left: 0;}

            &.owl-next,
            &.owl-prev{
                background-color: #fff;
                padding: 15px 25px !important;
                margin: 10px;
                border-radius: 5px;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    
                &:active{
                    background-color: darken(#fff, 5%);
                }
            }
        }
    }
}
.slide{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}

.slide_card {
    border-radius: 7px;
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.09);
}

.slide_info{
    padding-top: 20px;

    p{
        margin: 10px 0;
    }
    span{
font-weight: 300;
    }
    img{
        max-width: 160px;
    }
    }


footer{
    background-color: $dark_grey;
}

.footer_content{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 20px;

    p{
        font-size: 14px;
        color: #fff;
    }
}
.footer_logo{
    max-width: 200px;
}

.footer_links{
    background-color: $grey;
    width: 100%;
    padding: 10px 20px;

    a{
        svg{
            color: #fff;
            margin: 5px 8px;
            font-size: 20px;
        }
    }
}

.hamburger{
    display: none;
    cursor: pointer;

    .hamburger_inner{
        position: relative;
        display: block;
        height: 4px;
        width: 29px;
        border-radius: 5px;
        background-color: $grey;
        margin: 4px 0;
        opacity: 1;
        top: 0;
        transition: all .3s ease-out;
    }

    &.active{
        .hamburger_inner{
            &:nth-child(1){
                transform: rotate(45deg);
                transform-origin: center center;
                top: 8px;
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
                transform-origin: center center;
                top: -8px;
            }
        }
    }
}
    


@media screen and (max-width: 992px){
    .header_content{
        flex-direction: column;
        max-width: 600px;
        text-align: center;
    }

    .video_wrap{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px){
    .nav_ul {
        opacity: 0;
        width: 100%;
        position: absolute;
        display: block !important;
        top: 53px;
        left: -100%;
        background: #fff;
        padding: 0px;
        box-shadow: 0 16px 11px -14px rgba(0,0,0,0.09);
        border-top: 1px solid #e9e9e9;
        transition: all .3s ease-out;

        .nav_li {
            display: block;
            margin: 0;

            &:hover{
                background-color: #f1f1f1;
            }
        }

        .nav_link{
            display: block;
            padding: 20px 30px;
        }

        &.open{
            opacity: 1;
            left: 0;
        }
    }
    .hamburger{
        display: block;
    }

    .owl-carousel{
        .owl-nav{
            button{
                position: relative;
            }
        }
    }
}