a {
    color: $green;
    text-decoration: none;
}

button{
    transition: all .2s ease-out;

    &:focus { 
        outline: none;
    }
}


.button{
    cursor: pointer;
    padding: 17px 35px;
    display: inline-block;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: $green;

    &:hover{
        background-color: lighten($green, 5%);
    }
    &:active,
    &:focus{
        background-color: darken($green, 5%);
    }
}

h1 { font-size: 45px; font-weight: 900;}
h2 { font-size: 30px; margin-bottom: 50px;}
h4 { font-size: 16px; margin: 10px 0;}

p {
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 992px){
    h1 { font-size: 38px;}
    h2 {font-size: 26px;}
}

@media screen and (max-width: 768px){
    h1{ font-size: 32px;}
}